main{
    width: 100%;
    min-height: 100vh;/* minimo de autura*/
    /* Altura da janela do meu dispositivo */
    background-image: linear-gradient(to top, #6852AD, #58A18D);
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div{
    background-color: rgb(255, 255, 255);
    display: flex;  /* Ativa o flex */
    padding: 5px;
    border: var(--borda2);
    border-radius: var(--borda-arredondada);
    /* justify-content: space-between; */
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

div > form{
    display: flex;
    margin: 2px;
    /* margin-top: 10px; */
    align-items: center;
    justify-content: center;
    flex-direction:column;
}



form > img{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    align-items: center;
    justify-content: center;
}


#cadastro{
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branco);
}



/* Formulario */
#formulario{
    /* margin-top: 15px; */
    padding: 3%;
    gap: 10px;
    
    background-color: var(--cor-cinsa);
    border-radius: var(--borda-arredondada);
    /* background-color: aqua; */
}

#cadastro{
    width: 100%;
    height: 50px;
    max-width: 340px;
}

.estilo-formulario{
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branco);
}

.estilo-cadastro{
        background-color: rgb(255, 255, 255);
}

#instalação{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#instalação img{
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
}

#formulario > div{
    width: 100%;
}

#formulario > div > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-verde-mato);
    padding-bottom: 2px;
}

.informação{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-azul);
    font-weight: 900px;
}

body{
    background-color: var();
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: var(--borda);
    background-color: var(--cor-cinsa);
}

a{
    color: var(--cor-roxo);
    cursor: pointer;
    align-items: center;
}
p{
    justify-content: center;
    align-items: center;
    height: 30px;
    /* width: 100%; */
    margin-top: 5px;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinsa2);
    text-align: center;
}

section{
    width: 100%;
}

#OU{
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinsa2);
}

.botao-azul{
    background-color: var(--cor-roxo);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 30px;
    width: 100%;
    margin-top: 5px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 1;
}

#formulario > p{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinsa2);
}

#formulari > a > #cadastro > p > a{
    text-decoration: none;
    color: var(--cor-laranja);
}

#letrinhas{
    font-size: 10px;
}

#campo-upload{
    display: none; /* oculta os elementos */ 
   /* display: block;*/ /* elementos em coluna - um de baixo do outro */
   /* display: inline;*/ /* elementos em linha - um do lado do outro */
}

#texto-campo-upload{
    display: inline-block; /* herdou do block - height, widthe margin-top/bottom
    /*herdou do line - por padrão fica um do lado do outro e ocupa inicialmento o tamanho do conteudo*/
    background-color: var(--cor-roxo);
    border-radius: var(--borda-arredondada);
    width: 100%;
    height: 35px;
    padding: 10px;
    text-align: center;
}