main {
    background-color: #FFF1E2;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

#story {
    /* background-color: violet; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    overflow-x: scroll; /* poem scroll no eixo x */
}

#story::-webkit-scrollbar{
    width: 0;
}

/*.card-story {
     background-color: yellowgreen;
    width: 100%;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px; 
}*/

/* .card-story > articles{
    width: 100%;
    
    background-color: tomato;*/

.card-story>a {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

main > div {
    width: 100%;
    background-color:#FFF1E2;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 900px;
    gap: 10px;
    overflow-y: scroll;
}

div::-webkit-scrollbar{
    width: 0;
}

#fundo-do-post{
    background-color: #FFF1E2;
}

#fundo-post > img{
    display: flex;
    justify-content: center;
}

.card-story>a>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    gap: 10px;
}

.card-story>a>span {
    color: var(--cor-azul);
    font-size: var(--tamanho-fonte-sm);
}

/* Seção publi */
#cadastro-publi{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border: var(--borda);
}

#cadastro-publi > h2{
    padding: 5px;
    background-color: white;
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-preto);
    font-weight: bolder;
}

#cadastro-publi > form > textarea{
    width: 100% !important;
    height: 80px !important;
    background-color: var(--cor-branco);
    resize: none;/* Desabilita a opsão de redimencionar */
    padding: 10px;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
}

#cadastro-publi > form > textarea::placeholder{
    color: black;
}

.botão-azul{
    background-color: var(--cor-azul);
    font-size: var(--tamanho-fonte);
    border: none;
}

#caixa{
    opacity: 60%;
}

#texto-campo-upload{
    font-size: var(--tamanho-fonte);
    opacity: 60%;
    background-color: #a7a7a7;
}


#alinhamento{
    display: flex;
    justify-content: space-between;
}

#post-corpo{
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 17px;
}

#fundo-do-post{
    background-color: white;
    border: var(--borda);

}

#acoes{
    margin: 10px 15px 5px;
    cursor: pointer;
}


a{
    text-decoration: none;
}

#imagem-post{
    width: 100%;
}

#acoes-texto{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--tamanho-fonte);
}

#acoes-texto > div,
#acoes-texto > p{
    margin: 7px;
}

#acoes-texto > button{
    width: 29%;
    justify-content: flex-start;
    font-size: var(--tamanho-fonte);
    /* height: 30%; */
    border: none;
}

#comentarios-t{
    opacity: 50%;
    color: var(--cor-roxo-escuro);
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    cursor: pointer;
}

#linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
display: flex;
flex-direction: column;
gap: 20px; */


/* 
#comentarios > img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* Redimenciona a foto 
    object-position: center;
    border-radius: 50%;
} */

/* como a Alexia fez */

/* #descricao-publicacao{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--tamanho-fonte-sm);
    paddin: 0px 3% 
    O zero px é para não juntar com com os outros 15 do outro e os 3% é para é para ter um diametro geral 
}

#descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 87px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    order:1;
} 

#descricao-publicacao > button{
    border: none;
    background-color: transparent;
}*/